:root {
  --primary-color: #fff;
  --secondary-color: rgba(49, 49, 49, 0.98);
  --third-color: #fafafa;
}
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");

html {
  box-sizing: border-box;
}
*,
*::before,
::after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
}
.nav-bar {
  height: 56px;
  position: sticky;
  top: 0;
  background-color: var(--secondary-color);
  max-width: 998;
  display: FLEX;
  align-items: center;
}
.nav-list {
  align-items: center;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
li {
  list-style: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
}
a {
  color: var(--primary-color);
  text-decoration: none;
}
.stand-module {
  padding: 2rem;
  background-color: var(--third-color);
  line-height: 3rem;
  text-align: center;
}
.module-a {
  color: blue;
}
.stand-h2 {
  font-family: "Patua One", cursive;
  font-size: 2rem;
}
.stand-h3 {
  font-family: "Old Standard TT", serif;
  font-size: 1.5rem;
}
.module-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.module-list li {
  margin: -0.2rem 1rem;
  font-size: 1em;
}
.homepage-section {
  padding: 2rem;
  background-color: var(--third-color);
  text-align: center;
  line-height: 4rem;
  margin-top: 0.5rem;
}
.homepage-a {
  color: blue;
}
.homepage-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.homepage-h2 {
  font-family: 'Special Elite', cursive;
  font-size: 2rem;
}
.homepage-h3 {
  font-family: "Old Standard TT", serif;
  font-size: 1.5rem;
  line-height: 1em;
}
.homepage-p {
  font-family: "Old Standard TT", serif;
  font-size: 1.5rem;
  line-height: 1em;
}
.homepage-list li {
  margin: -0.2rem 0.5rem;
  font-size: 1rem;
}
.xr-img img{
  width: 60%;
}
.xs-img img{
  width: 40%;  
}
.homepage-watch {
  padding: 2rem;
  background-color: var(--third-color);
  text-align: center;
  line-height: 2.5rem;
  margin-top: 0.5rem;
}
.heading2-watch {
  font-family: 'Special Elite', cursive;
  font-size: 3rem;
}
.heading4-watch {
  font-size: 1rem;
}
.heading3-watch {
  font-family: "Old Standard TT", serif;
  font-size: 1.5rem;
}
.watch-img img{
  width: 40%
}
.show-case {

}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
  margin: 0.5rem;
}
.cards img {
  width: 60%;
}
.card-1 {
  text-align: center;
  background-color: var(--third-color);
  line-height: 2.5rem;
  padding: 1.5rem;
}
.card-2 {
  text-align: center;
  background-color: #c29f9f2a;
  line-height: 2.5rem;
  padding: 1.5rem;
}
.card-3 {
  text-align: center;
  background-color: rgba(8, 8, 8, 0.952);
  line-height: 2.5rem;
  padding: 1.5rem;
}
.card-4 {
  text-align: center;
  line-height: 2.5rem;
  padding: 1.5rem;
}
.card-5 {
  text-align: center;
  background-color:rgba(0, 0, 0, 0.993);
  line-height: 2.5rem;
  padding: 1.5rem;
}
.card-6 {
  text-align: center;
  background-color:#4ea7ada9;
  line-height: 2.5rem;
  padding: 1.5rem;
}
.heading2-c1 {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
  padding: 1.5rem;
}
.li-c1 {
  list-style: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
}
.li-c1 a {
  color: blue;
}
.heading2-light {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
}
.heading3-light {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.5rem
}
.list-light {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.li-light a {
  color: blue;
  list-style: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  margin: 0rem 1rem;
}
.heading2-dark {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  color: #fff;
}
.heading3-dark {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.5rem;
  color: #fff;
}
.list-dark {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.li-dark a {
  color: blue;
  list-style: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  margin: 0rem 1rem;
}
.price {
  text-align: center;
  background-color: var(--third-color);
  font-family: 'Cinzel', serif;
  font-size: 19px;
color:rgb(185, 176, 176);
margin: 0rem 0.5rem 15px 0.5rem; 
border-bottom: rgb(226, 207, 207) solid 2px;
padding-bottom: 8px;
z-index: 2;
}
.over-apple {
  background-color: var(--third-color);
  margin: 0.5rem;
  
}
.container li a {
  color: gray;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
margin-left: 10rem;  
}
.heading-apple {
  font-family: 'Hind Madurai', sans-serif;
  font-size: 1rem; 
}
.container li {
  font-family: 'Martel', serif;
  font-size: 1rem;
  line-height: 1.75rem;
  letter-spacing:normal;
}
.bedrijven, .gezondheid{
  margin-top: 1.5rem;
}
.waarden {
  margin-top: 1.5rem;
}
.winkelen  {
  font-family: 'Spectral', serif;
  font-size: 1.09rem;
  color: rgba(45, 62, 80, 0.774);
  border-bottom: rgb(226, 207, 207) solid 2px;
padding-bottom: 8px;
z-index: 2;
margin: 2rem 1rem;
letter-spacing:normal;
text-align: center;

}
.winkelen p {
  margin-left: -30rem;
}
footer {
  background-color: var(--third-color);
  margin: 1rem;
  line-height: 1.5rem;
}
.footer-p p {
  margin-left: 10rem;
  font-family: 'Spectral', serif;
  color: rgba(45, 62, 80, 0.774);


}
.list-footer {
  display: flex;
  justify-content:center;
  align-items: center;
  
  
}
footer li a {
  color: rgb(136, 112, 112);
  margin-right: 4.8rem;
}
